.button {
	background-color: rgb(118, 28, 29);
	color: white;
	border-radius: 10px;
	padding: 16px;
	border:  solid 1px rgb(118, 28, 29);
}

.button:hover {
	color:  rgb(118, 28, 29);
	background-color: white;
	transition:  1s;
}

.button2 {
	background-color: rgb(118, 28, 29);
	color: white;
	border-radius: 10px;
	padding: 32px;
	border:  solid 1px rgb(118, 28, 29);
}

.button2:hover {
	color:  rgb(118, 28, 29);
	background-color: white;
	transition:  1s;
}